<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sonpen.board.mapper.BoardMapper">

    <select id="boardCount" resultType="int">
        SELECT
        COUNT(*)
        FROM BOARD
    </select>

    <select id="boardList" resultType="com.sonpen.board.domain.BoardVO">
        SELECT
        *
        FROM BOARD
    </select>

    <select id="boardDetail" parameterType="int" resultType="com.sonpen.board.domain.BoardVO">
        SELECT
        *
        FROM BOARD
        WHERE
          BNO = #{bno}
    </select>

    <!-- useGeneratedKeys, keyProperty: 컬럼이 auto_increment 인 경우 insert 후에 auto_increment 값을 리턴받을 경우에 설정 해줍니다. -->
    <!-- 근데 오라클은 시퀀스를 사용하는데 이건 어떻게 할까?? -->
    <insert id="boardInsert" parameterType="com.sonpen.board.domain.BoardVO" useGeneratedKeys="true" keyProperty="bno">
        INSERT INTO
        BOARD (SUBJECT, CONTENT, WRITER, REG_DATE)
        VALUES (#{subject}, #{content}, #{writer}, now())
    </insert>

    <update id="boardUpdate" parameterType="com.sonpen.board.domain.BoardVO">
        UPDATE BOARD
          SET
        <if test="subject != null"> SUBJECT = #{subject} </if>
        <if test="subject != null and content != null">, </if>
        <if test="content != null">CONTENT = #{content}</if>
        WHERE BNO = #{bno}
    </update>

    <delete id="boardDelete" parameterType="int">
        DELETE FROM BOARD WHERE BNO = #{bno}
    </delete>

    <insert id="fileInsert" parameterType="com.sonpen.board.domain.FileVO" useGeneratedKeys="true" keyProperty="fno">
        INSERT INTO
        FILES (BNO, FILENAME, FILEORINAME, FILEURL)
        VALUES (#{bno}, #{fileName}, #{fileOriName}, #{fileUrl})
    </insert>
</mapper>
